.headerRowBackground--shadow {
  box-shadow: 1px 9px 32px -5px #8a838a;
}

.headerRowContainer--firstHeader {
  background: #000000;
  padding-right: 10px;
}

.headerRow--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.headerRow--main-header .headerRowBackground {
  background-color: #18262f;
}

.headerRow--main-header :global(.vtex-menu-2-x-styledLink)  {
  color: #727273;
  font-size: 14px;
}

.headerRow--main-header-mobile .headerRowBackground {
  padding: 10px 0px;
  background: #18262f;
}
