.menuContainer--topMenu .styledLinkContent{
    font-size: 14px;
    color: #fff;
}
.menuContainerNav--topMenu{
    margin: 0px 0px !important;
}

.menuContainer--topMenu .menuItem:first-child{
    background: #f00;
    position: relative;
    padding-left: 25px;
}

.menuContainer--topMenu .menuItem .submenuWrapper .menuItem:first-child{
    background: #ffff;
    padding-left: 0px;
}

.menuContainer--topMenu .menuItem .submenuWrapper .menuItem:first-child::before{
    content: '';
    display: none;
}

.menuContainer--topMenu .menuItem:first-child::before{
    content: '';
    background-image: url(https://homolog2--serjao1976.vteximg.com.br/arquivos/iconHeaderMain.png);
    height: 30px;
    width: 30px;
    position: absolute;
    left: 9px;
    top: 9px;
    background-size: 30px;
    background-repeat: no-repeat;
}

.menuContainer--menu-mobile .styledLinkContent{
    margin-bottom: 10px;
    padding-bottom: 3px;
    border-bottom: 1.5px solid #ed1b23;
}

.menuContainerNav--menu-mobile{
    width: 90%;
}

.flexRow--product-main-box{
    margin: 0px 1rem;
}

.menuContainer--topMenu .menuItem .submenuWrapper .styledLinkContainer{
    margin-left: 0px;
    margin-bottom: 10px;
}

.menuContainer--topMenu .menuItem:hover .submenuWrapper{
    display: block;
    width: 100%;
}

.menuContainer--topMenu .menuItem .submenuWrapper .styledLinkContent{
    color: #000;
    padding: 8px 0px 0px;
}

.menuContainer--topMenu .menuItem .submenuWrapper .styledLinkContainer::after{
    content: "";
    background: red;
    width: 10px;
    height: 2px;
    display: block;
    margin: 0;
}


