.headerRowBackground--shadow {
  box-shadow: 1px 9px 10px -5px #121e25;
}

.headerRowContentContainer--shadow{
  background: #121e25;
  color: #fff;
  height: 45px;
}

.headerRowContainer--firstHeader {
  background: #121e25;
  padding-right: 10px;
}

.headerRow--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.headerRow--main-header .headerRowBackground {
  background-color: #18262f;
}

.headerRow--main-header :global(.vtex-menu-2-x-styledLink)  {
  color: #727273;
  font-size: 14px;
}

.headerRow--main-header-mobile .headerRowBackground {
  padding: 10px 0px;
  background: #18262f;
}

.headerRowContainer--firstHeader{
  height: 35px;
}
